.editProfileContent {
  width: 100vw;
  padding: 0 2rem;
  height: auto;
  min-height: 100vh;
  @include pageBackground;
.editProfileContainer {
  @include pageContainer;
  h1 {
    color: white;
    @include mediumTitle;
    margin-bottom: 2rem;
  }
  h2 {
    width: 100%;
    color: $text;
    margin-bottom: 2rem;
  }
  .changePassword {
    width: 100%;
    max-width: 35%;
    background: rgba($cardbg, 0.4);
    backdrop-filter: blur(5rem);
    padding: 3rem;
    border-radius: 1rem;
    form {
      display: flex;
      flex-direction: column;
      input {
        background: rgba($cardbg, 0.4);
        backdrop-filter: blur(5rem);
      }
      button {
        margin-top: 1rem;
        max-width: 100%;
      }
    }
  }
  }
}
