.HomeContent {
  width: 100vw;
  padding: 0 2rem;
  height: auto;
  min-height: 100vh;
  @include pageBackground;
  .homeContainer {
    @include pageContainer;
    .search {
      width: 100%;
      h1 {
        color: white;
        @include mediumTitle;
        margin-bottom: 2rem;
      }
      input {
        background: rgba($input, 0.3);
      }
    }
    .projectsContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      width: 100%;
      margin-top: 5rem;
    }
    .projectCard {
      background: rgba($cardbg, 0.2);
      border-radius: 0.5rem;
      transition: all 0.3s;
      width: 100%;
      padding: 3rem;
      text-align: center;
      a {
        width: 14.5rem;
      }
      .members {
        margin: 2rem auto 0 auto;
        text-align: center;
        width: 100%;
        .avatar:not(:first-child) {
          margin-left: -75px;
          -webkit-mask:radial-gradient(circle 25px at 5px 50%,transparent 99%,#fff 100%);
          mask:radial-gradient(circle 55px at 5px 50%,transparent 99%,#fff 100%);
        }
        .avatar img {
          width: 100%;
          max-width: 5rem;
          display: block;
        }
        .avatar {
          display: inline-block;
          border-radius: 5rem;
          overflow: hidden;
          width: 100px;
        }
      }
      p {
        margin: 2rem 0 3rem 0;
        font-size: 1.55rem;
        height: 13.2rem;
        text-align: justify;
        word-break: break-all;
        width: 100%;
        line-height: 2.5rem;
      }
      .buttons {
          button {
            margin: 0 0.5rem;
          }
      }
      h2 {
        color: white;
        text-align: center;
        font-size: 2rem;
      }
      &:hover {
        transform: translateY(-1rem);
        transition: all 0.3s;
        box-shadow: 0 30px 20px -20px rgba(black, 0.15);
      }
    }
  }
}
