.TopContent {
  width: 100vw;
  padding: 0 2rem;
  height: auto;
  min-height: 100vh;
  @include pageBackground;
  .TopContainer {
    @include pageContainer;
    .heading {
      margin-bottom: 3rem;
      h1 {
        color: white;
        @include mediumTitle;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .titles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      width: 100%;
      margin: 6rem 0 2rem 0;
      font-size: 1.6rem;
    }
    .topProject {
      @include Card;
      padding: 2rem;
      margin-bottom: 1rem;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      width: 100%;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-0.5rem);
        transition: all 0.3s;
        box-shadow: 0 30px 20px -20px rgba(black, 0.15);
      }
      a {
        font-size: 1.6rem;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
          transition: all 0.3s;
        }
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
