.modalWrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.54);
  z-index: 200;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  .limit {
    position: absolute;
    bottom: 15%;
    opacity: 0.5;
    left: 3%;
  }
  .modal {
    width: 100%;
    max-width: 60rem;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    top: 0;
    @include Card;
    margin: auto;
    backdrop-filter: blur(10px);
    padding: 3rem;
    border-radius: 0.5rem;
    h1 {
      color: white;
    }
    .textarea {
      @include Textarea;
    }
    input {
      margin-bottom: 1.5rem;
      @include LighterInput;
    }
    .close {
      position: absolute;
      right: -1rem;
      top: -1rem;
      background: lighten($cardbg, 4);
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5rem;
      transition: all 0.3s;
      border: 1px solid transparent;
      .closeIcon {
        font-size: 1.6rem;
      }
      &:hover {
        transition: all 0.3s;
        border: 1px solid $sitetheme;
        cursor: pointer;
      }
    }
  }
}

/*Join modal*/

.joinModal {
  max-width: 80rem!important;
  .whyjoin {
    position: relative;
  }
  .projects-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  h3 {
    color: white;
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    margin: 0.5rem 0 1rem 0;
  }
  .user-project {
    background-color: lighten(rgba($input, 0.5), 2);
    width: 100%;
    display: inline-block;
    border: 1px solid #333338;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s;
    p {
      width: 100%;
      max-width: 20rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      opacity: 0.7;
      transition: all 0.3s;
    }
  }
}

/*Requests Modal*/

.modal-requests {
  max-width: 80rem!important;
  .no-requests {
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
  }
  .role-icon {
    margin-right: 1rem;
  }
  .buttons {
    margin: 4rem 0 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
      .btn {
        height: 3rem;
        width: 8rem;
        color: white;
        font-weight: bold;
        &--purple {
          background: #368fff;
          color: $cardbg;
          &:hover {
           opacity: 0.7;
          }
        }
        &--red {
          background: $pink;
          color: $cardbg;
          &:hover {
          opacity: 0.7;
          }
        }
      }
  }
  h2 {
    margin-top: 1rem;
  }
  p {
    font-size: 1.5rem;
  }
  .speciality {
    font-size: 1.4rem;
    background: $purple;
    width: 100%;
    max-width: 17rem;
    text-overflow: ellipsis;
    border: 0.3rem solid $cardbg;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    margin: 0.5rem auto 1.5rem auto;
  }
 .generalForm {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
 }
  .request {
    flex: 0 0 47%;
    background: $cardbg;
    padding: 2rem 1.5rem;
    position: relative;
    border-radius: 1rem;
  }
}
