@media all and (max-width: 1440px) {
  html {
    font-size: 55%;
  }
.header {
  .container {
    h1 {
      font-size: 6rem;
    }
  }
}
}

@media all and (max-width: 1024px) {
  html {
    font-size: 52%;
  }
  .toggleHidden {
    display: flex;
  }
  .LoginWrap {
    .welcome {
      width: 80%;
      margin: 2rem auto;
    }
    form {
      input {
        max-width: 100%;
      }
    }
    .loginBox, .registerBox {
      height: 100vh;
    }
    .side:nth-child(1) {
      display: none;
    }
    .side:nth-child(2) {
      flex: 0 0 100% !important;
    }
  }
  .homeNav .side  {
    ul {
      display: none!important;
    }
  }
  .header .container {
    padding: 0 2rem;
    p {
      font-size: 1.7rem;
    }
    h1 {
      font-size: 3.5rem;
      line-height: 5rem;
    }
    .cards {
      flex-direction: column;
     .card {
       margin-bottom: 2rem;
       .underline {
         top: 26.5%;
       }
     }
    }
  }
}

@media all and (max-width: 550px) {
  .LoginWrap {
    .welcome {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
  .header .container {
    h1 {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}
