$bg: rgb(23, 26, 40);
$text: #c1c1c1;
$pink: #ff4080;
$input: #12131f;
$navbg: #2a2c3d;
$border: #5A6091;
$gray: #282828;
$cardbg: #12131f;
$activeBorder: #3f4378;
$green: #4ad58b;
$purepurple: $green;


@mixin largeTitle {
  font-size: 7rem;
  font-weight: bold;
}

@mixin mediumBigTitle {
  font-size: 5rem;
  font-weight: bold;
}

@mixin mediumTitle {
  font-size: 3rem;
  font-weight: bold;
}

@mixin smallTitle {
  font-size: 2rem;
  font-weight: bold;
}

@mixin Textarea {
  width: 100%;
  border: 1px solid transparent;
  color: $text;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: $input;
  transition: all 0.3s;
  &:focus {
    outline: 0;
    border: 1px solid $green;
    transition: all 0.3s;
  }
  &::placeholder {
    color: $text;
  }
}

@mixin Card {
  background: rgba($cardbg, 0.5);
  backdrop-filter: blur(20px);
}


@mixin Input {
  width: 100%;
  height: 5.5rem;
  border: 1px solid transparent;
  color: $text;
  padding: 0 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: $input;
  transition: all 0.3s;
  &:focus {
    outline: 0;
    border: 1px solid $green;
    transition: all 0.3s;
  }
  &::placeholder {
    color: $text;
  }
}

@mixin content {
  font-size: 1.7rem;
  color: $text;
  line-height: 3rem;
}

@mixin button {
  width: 100%;
  max-width: 14.5rem;
  height: 5rem;
  border: 0;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  font-family: Sofia pro, 'sans-serif';
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transition: all 0.3s;
  }
}