$bg: rgb(42, 45, 71);
$text: #BFC1E0;
$pink: #ff4080;
$input: #343858;
$navbg: #313553;
$border: #5A6091;
$cardbg: #313553;
$activeBorder: #5A6EF6;
$green: #4ad58b;
$purepurple: #6d5dff;


@mixin largeTitle {
  font-size: 7rem;
  font-weight: bold;
}

@mixin mediumBigTitle {
  font-size: 5rem;
  font-weight: bold;
}

@mixin mediumTitle {
  font-size: 3rem;
  font-weight: bold;
}

@mixin smallTitle {
  font-size: 2rem;
  font-weight: bold;
}

@mixin Textarea {
  width: 100%;
  border: 1px solid $border;
  color: $text;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: $navbg;
  transition: all 0.3s;
  &:focus {
    outline: 0;
    border: 1px solid $activeBorder;
    transition: all 0.3s;
  }
  &::placeholder {
    color: $text;
  }
}


@mixin Input {
  width: 100%;
  height: 5.5rem;
  border: 1px solid $border;
  color: $text;
  padding: 0 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: $navbg;
  transition: all 0.3s;
  &:focus {
    outline: 0;
    border: 1px solid $activeBorder;
    transition: all 0.3s;
  }
  &::placeholder {
    color: $text;
  }
}

@mixin content {
  font-size: 1.7rem;
  color: $text;
  line-height: 3rem;
}

@mixin button {
  width: 100%;
  max-width: 14.5rem;
  height: 5rem;
  border: 0;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  font-family: Sofia pro, 'sans-serif';
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transition: all 0.3s;
  }
}