.justifyCenter {
  display: flex;
  justify-items: center!important;
}

.disabledButton {
  cursor: not-allowed!important;
  background: gray!important;
  opacity: 0.7;
}

.showMenu {
  display: flex!important;
}

.ActionsMenu {
  position: absolute;
  z-index: 50!important;
  background: darken($bg, 0.1);
  right: 0;
  width: auto;
  transition: all 0.3s;
  display: none;
  flex-direction: column;
  text-align: justify;
  top: 2.5rem;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  p {
    font-size: 1.4rem;
    margin: 0.2rem auto;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    .menuIcon {
      margin-right: 1rem;
    }
    &:hover {
      opacity: 0.8;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
}

.btn {
  @include button;
  &--pink {
    background: $pink;
    &:hover {
      background: darken($pink, 8%)
    }
  }
  &--green {
    background: $green;
    color: $navbg;
    &:hover {
      background: darken($green, 8%)
    }
  }
  &--gray {
    background: $gray;
    color: white;
    &:hover {
      background: lighten($gray, 9%);
      opacity: 1;
    }
  }
  &--purepurple {
    background: $purepurple;
    color: $navbg;
    &:hover {
      background: darken($purepurple, 8%);
      opacity: 1;
    }
  }
  &--purple {
    background: #4a5dc7;
    &:hover {
      background: darken(#4a5dc7, 8%);
      opacity: 1;
    }
  }
  &--transparent {
    background: transparent;
    border: 1px solid white;
    &:hover {
      background: white;
      color: black;
    }
  }
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
}

.centerNoTop {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}


.modalHide {
  opacity: 0!important;
  transition: all 0.3s!important;
  display: none!important;
}

.modalShow {
  opacity: 1!important;
  display: flex!important;
  transition: all 0.3s!important;
}

.hideDropdown {
  display: none;
}

.generalForm {
  margin: 3rem 0;
}

.input {
  @include Input;
}

.textarea {
  @include Textarea;
  background: $input;
}

.bold {
  font-weight: bold;
}


.error {
  color: #ff7f7f;
  font-size: 1.7rem;
  margin: 0.5rem 0 1rem 0;
}

.marginRight {
  margin-right: 2rem;
}

.authnav {
  height: 10rem;
  width: 100vw;
  z-index: 10;
  right: 0;
  left: 0;
  padding: 3rem 2rem;
  margin: auto;
  backdrop-filter: blur(10px);
  position: fixed;
  nav {
    margin-left: 3rem;
    ul {
      a {
        font-size: 1.7rem;
        transition: all 0.3s;
        &:hover {
          opacity: 0.5;
          transition: all 0.3s;
        }
      }
      li {
        list-style: none;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    justify-content: space-between;
    .side {
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      .profile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        width: 100%;
        height: 5rem;
        border-radius: 0.5rem;
        margin-left: 4rem;
        background: rgba($bg, 0.4);
        transition: all 0.3s;
        position: relative;
        &:hover {
          background: darken($bg, 0.2);
          cursor: pointer;
          transition: all 0.3s;
        }
        .dropdown {
          position: absolute;
          top: 6.5rem;
          width: 100%;
          height: auto;
          display: flex;
          border-radius: 0.5rem;
          z-index: 10;
          padding: 1.5rem;
          justify-content: center;
          background: darken($bg, 0.1);
          .icon {
            font-size: 1.4rem;
            margin-left: 0;
          }
          li {
            list-style: none;
            margin: 0.5rem 0;
            font-size: 1.6rem;
            transition: all 0.3s;
            &:hover {
              color: white;
              transition: all 0.3s;
            }
          }
        }
        p {
          font-size: 1.7rem;
          color: white;
          font-weight: bold;
        }
        .userImage {
          width: 3rem;
          top: 0;
        }
      }
      .icon {
        font-size: 2.5rem;
        transition: all 0.3s;
        margin: 0 1rem 0 4rem;
        &:hover {
          transition: all 0.3s;
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
  h1 {
    color: white;
    font-size: 2.5rem;
  }
}

.back {
  height: auto;
  padding: 0 0 3rem 5rem;
  .icon {
    font-size: 2rem;
    display: inline-block;
    color: white;
    position: relative;
    right: 0;
    transition: all 0.3s;
  }
  p {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 1.6rem;
    transition: all 0.3s;
  }
  &:hover {
    transition: all 0.3s;
    p {
      color: white;
      cursor: pointer;
    }
    .icon {
     right: 1rem;
    }
  }
}

.navUser {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}

.userImage {
  border-radius: 5rem;
  position: relative;
  top: 1.5rem;
  margin-right: 1rem;
}

.homeNav {
  width: 100%;
  max-width: 152rem;
  padding: 0 2rem 4rem 2rem;
  margin: 5rem auto;
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  button {
    width: 14rem;
  }
  .line {
    width: calc(100% - 2%);
    height: 1px;
    opacity: 0.1;
    background-color: $text;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
  button {
    margin-left: 2rem;
  }
  ul {
    display: inline-block;
    width: 100%;
    li {
      display: inline-block;
      padding: 0 2rem;
    }
    .navLink {
      transition: all 0.3s;
      font-size: 1.6rem;
      color: white;
      &:hover {
        opacity: 0.5;
        transition: all 0.3s;
      }
    }
  }
  .side {
    flex: 0 0 50%;
  }
  .side:nth-child(2) {
    text-align: right;
  }
h1 {
  @include smallTitle;
  color: white;
  font-size: 3.5rem;
  display: inline-block;
  margin-right: 2rem;
}
}

.LoginWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .welcome {
    text-align: left;
    margin: 2rem 0 0 5rem;
    h1 {
      font-size: 3rem;
      color: white;
    }
    h1:nth-child(2) {
      font-weight: 300;
    }
  }
  .links {
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    p {
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        color: white;
        transition: all 0.3s;
      }
    }
  }
  .side:nth-child(1) {
    background: #1a1d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      font-size: 3rem;
      color: white;
      font-weight: 300;
      margin-bottom: 4rem;
    }
    img {
      width: 100%;
      max-width: 40rem;
    }
  }
  .side:nth-child(2) {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #1d2031;
  }
  .side {
    flex: 0 0 50%;
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 80%;
    button {
      width: 100%;
      max-width: 50rem;
      padding: 2rem;
      border: 0;
      margin: 2rem auto 0 auto;
      border-radius: 0.5rem;
      background: #4a5dc7;
      color: white;
      font-weight: bold;
      font-family: Sofia pro, 'sans-serif';
      font-size: 1.5rem;
      transition: all 0.3s;
      &:hover {
        background: darken(#4a5dc7, 10%);
        transition: all 0.3s;
        cursor: pointer;
      }
    }
    input {
      border: 1px solid lighten($input, 20);
      background: lighten($input, 10);
      width: 100%;
      font-family: Sofia pro, 'sans-serif';
      max-width: 50rem;
      margin: 0 auto 1rem auto;
      border-radius: 0.5rem;
      transition: all 0.3s;
      font-weight: 200;
      padding: 1.6rem;
      color: white;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
      &:focus {
        outline: 0;
        caret-color: white;
        border: 1px solid $text;
        transition: all 0.3s;
      }
    }
  }
  .loginBox {
    background: #303450;
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    height: 75rem;
    border-radius: 0.5rem;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7rem;
    }
  }

  .registerBox {
    background: #303450;
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    height: 75rem;
    border-radius: 0.5rem;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7rem;
      border-radius: 0.5rem;
      max-width: 50rem;
    }
  }
}

@import './_responsive.scss';
