@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

svg {
  fill: white!important;
}

textarea, input {
  font-family: Sofia pro, 'sans-serif';
}

textarea {
  padding: 2rem;
  resize: none;
  white-space: pre-line;
  overflow: hidden;
  @include Textarea;
}

a {
  text-decoration: none;
  color: $text;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Sofia pro, 'sans-serif';
  font-weight: 100;
  color: $text;
  overflow-x: hidden;
  font-size: 1.3rem;
  background: $bg;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@import 'pages/landing';
@import 'pages/home';
@import 'pages/details';
@import 'pages/profile';
@import 'modals';
@import 'global';